{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Add Job</h2>

    <!-- Display any potential form errors -->
    {% if form.error %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="property">Select Property</label>
        <select id="property" name="property">
                {% for property in properties %}
                    <option value="{{ property.id }}">{{ property.customer.last_name }}, {{ property.address }}</option>
                {% endfor %}
        </select>
        {% crispy formset formset.form.helper %}
    </form>
</div>

{% endblock %}
