{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Add Property</h2>

    <!-- Display any potential form errors -->
    {% if form.error %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="customerSelect">Select Customer:</label>
        <select id="customerSelect" name="customer">
            {% for customer in customers %}
                <option value="{{ customer.pk }}">{{ customer }}</option>
            {% endfor %}
        </select>

        {% crispy formset formset.form.helper %}

    </form>
</div>
{% endblock %}
